CSV_Processor.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>135ca2a5-015d-1000-b75a-bdaf382c2568</groupId>
  <name>CSV Processor  </name>
  <snippet>
    <controllerServices>
      <id>5da8a31b-37ac-30a2-0000-000000000000</id>
      <parentGroupId>645f8f2c-44e5-3e5a-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>Pretty Print JSON</key>
          <value>
            <name>Pretty Print JSON</name>
          </value>
        </entry>
      </descriptors>
      <name>G-CloudJsonRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>full-schema-attribute</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-text-property</value>
        </entry>
        <entry>
          <key>schema-registry</key>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${Sales}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>{
    "namespace":"sales.gcloud.db.model",
    "type":"record",
    "doc":"This schema describes G-Cloud sales data",
    "name":"Sales",
    "fields":[
        {"name":"LotDescription","type": "string"},
        {"name":"ReturnMonth","type": "string"},
        {"name":"EvidencedSpend","type": "string"},
        {"name":"Sector","type": "string"},
        {"name":"SMEorLarge","type": "string"},
        {"name":"ProjectName","type": "string"},
        {"name":"SupplierName","type": "string"},
	{"name":"CustomerName","type": "string"}
    ]
}</value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>DD/MM/YYYY</value>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>Pretty Print JSON</key>
          <value>false</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.json.JsonRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>6f8fbda0-5bf5-3641-0000-000000000000</id>
      <parentGroupId>645f8f2c-44e5-3e5a-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>
            <name>Skip Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
      </descriptors>
      <name>G-CloudCSVReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-text-property</value>
        </entry>
        <entry>
          <key>schema-registry</key>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${Sales}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>{
    "namespace":"sales.gcloud.db.model",
    "type":"record",
    "doc":"This schema describes G-Cloud sales data",
    "name":"Sales",
    "fields":[
        {"name":"LotDescription","type": "string"},
        {"name":"ReturnMonth","type": "string"},
        {"name":"EvidencedSpend","type": "string"},
        {"name":"Sector","type": "string"},
        {"name":"SMEorLarge","type": "string"},
        {"name":"ProjectName","type": "string"},
        {"name":"SupplierName","type": "string"},
	{"name":"CustomerName","type": "string"}
    ]
}</value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>DD/MM/YYYY</value>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>custom</value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>,</value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>true</value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>"</value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>\</value>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVReader</type>
    </controllerServices>
    <processGroups>
      <id>1332da58-0242-35a5-0000-000000000000</id>
      <parentGroupId>645f8f2c-44e5-3e5a-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>8d90da4b-a796-3589-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>200000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>04160da5-4a97-30e9-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>1ad9859e-f195-3bf0-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ef5e75ee-0652-311a-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>1ad9859e-f195-3bf0-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
          <selectedRelationships>valid</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>ac45a0a6-9156-3d6f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f5a48d9e-1040-32d5-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>36517315-4a19-3f17-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>92897f2d-9d7c-32c0-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0a103eec-5802-3e21-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>36517315-4a19-3f17-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>66fa5dd7-d4ac-3c80-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>10cdf832-6075-3872-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>825f7531-37c9-3c55-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>5aa34ddc-9f1c-30ad-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>19567273-686a-33c9-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>92897f2d-9d7c-32c0-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>60d8dbcd-522a-34e3-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>274b1eb3-36e6-3b78-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>b55f05dd-8335-3024-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
          <selectedRelationships>invalid</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>ac45a0a6-9156-3d6f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2ebd5013-19a7-3f32-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>36517315-4a19-3f17-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>c26afb54-71bf-31a2-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>344b09a8-aa0b-30f6-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>66fa5dd7-d4ac-3c80-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>825f7531-37c9-3c55-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>51f5331e-5387-385b-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>5c718d2a-c1b6-3fbb-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
          <selectedRelationships>valid</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>ac45a0a6-9156-3d6f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6363fbd4-ffcb-3207-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>36517315-4a19-3f17-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>33dd6628-2a25-3fb8-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>71f838e9-09a4-3af2-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>ac45a0a6-9156-3d6f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>36517315-4a19-3f17-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>78062101-3dee-3be5-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>5c718d2a-c1b6-3fbb-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
          <selectedRelationships>original</selectedRelationships>
          <source>
            <groupId>1332da58-0242-35a5-0000-000000000000</groupId>
            <id>1ad9859e-f195-3bf0-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>c26afb54-71bf-31a2-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-1213.4857295393717</x>
            <y>-183.17297540873108</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Data In</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
          <id>8301da39-5b48-3bae-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-763.7477009812808</x>
            <y>-268.5262280714876</y>
          </position>
          <height>440.93194580078125</height>
          <label>Validate the CSV format.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>436.6482238769531</width>
        </labels>
        <labels>
          <id>9447e38b-d5c4-30fa-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-756.5730300702012</x>
            <y>-862.720937674279</y>
          </position>
          <height>476.78143310546875</height>
          <label>Fetch the CSV File.</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#0ccfed</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>1092.26708984375</width>
        </labels>
        <labels>
          <id>9912dfdf-91a0-3390-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-1276.814081840537</x>
            <y>-943.1148546733172</y>
          </position>
          <height>598.1201782226562</height>
          <label>Fetch Excel / Convert to CSV</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>472.9322814941406</width>
        </labels>
        <labels>
          <id>a103386e-da1a-3be2-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-770.125447563312</x>
            <y>327.4737719285124</y>
          </position>
          <height>223.9636993408203</height>
          <label>Write success and failure files to an S3 buckets</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#d6ffe7</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>1455.519287109375</width>
        </labels>
        <labels>
          <id>ad5c8740-e13d-35bc-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-125.93027312908634</x>
            <y>-7.33409220558832</y>
          </position>
          <height>254.19300842285156</height>
          <label>Split CSV records into separate JSON files</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#1e15d4</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>24px</value>
            </entry>
          </style>
          <width>489.06134033203125</width>
        </labels>
        <processors>
          <id>825f7531-37c9-3c55-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-1216.116889736555</x>
            <y>-681.3582422288271</y>
          </position>
          <bundle>
            <artifact>nifi-aws-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Bucket</key>
                <value>
                  <name>Bucket</name>
                </value>
              </entry>
              <entry>
                <key>Object Key</key>
                <value>
                  <name>Object Key</name>
                </value>
              </entry>
              <entry>
                <key>Region</key>
                <value>
                  <name>Region</name>
                </value>
              </entry>
              <entry>
                <key>Access Key</key>
                <value>
                  <name>Access Key</name>
                </value>
              </entry>
              <entry>
                <key>Secret Key</key>
                <value>
                  <name>Secret Key</name>
                </value>
              </entry>
              <entry>
                <key>Credentials File</key>
                <value>
                  <name>Credentials File</name>
                </value>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                  <name>AWS Credentials Provider service</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Version</key>
                <value>
                  <name>Version</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
                <value>
                  <name>Endpoint Override URL</name>
                </value>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>
                  <name>Signer Override</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
                <value>
                  <name>Proxy Host Port</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Bucket</key>
                <value>${s3.bucket}</value>
              </entry>
              <entry>
                <key>Object Key</key>
                <value>${filename}</value>
              </entry>
              <entry>
                <key>Region</key>
                <value>eu-west-1</value>
              </entry>
              <entry>
                <key>Access Key</key>
              </entry>
              <entry>
                <key>Secret Key</key>
              </entry>
              <entry>
                <key>Credentials File</key>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>Version</key>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>FetchS3Object</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#e81919</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
        </processors>
        <processors>
          <id>92897f2d-9d7c-32c0-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-708.4889886911699</x>
            <y>-551.1663926327908</y>
          </position>
          <bundle>
            <artifact>nifi-aws-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Bucket</key>
                <value>
                  <name>Bucket</name>
                </value>
              </entry>
              <entry>
                <key>Object Key</key>
                <value>
                  <name>Object Key</name>
                </value>
              </entry>
              <entry>
                <key>Region</key>
                <value>
                  <name>Region</name>
                </value>
              </entry>
              <entry>
                <key>Access Key</key>
                <value>
                  <name>Access Key</name>
                </value>
              </entry>
              <entry>
                <key>Secret Key</key>
                <value>
                  <name>Secret Key</name>
                </value>
              </entry>
              <entry>
                <key>Credentials File</key>
                <value>
                  <name>Credentials File</name>
                </value>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                  <name>AWS Credentials Provider service</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Version</key>
                <value>
                  <name>Version</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
                <value>
                  <name>Endpoint Override URL</name>
                </value>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>
                  <name>Signer Override</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
                <value>
                  <name>Proxy Host Port</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Bucket</key>
                <value>${s3.bucket}</value>
              </entry>
              <entry>
                <key>Object Key</key>
                <value>${filename}</value>
              </entry>
              <entry>
                <key>Region</key>
                <value>eu-west-1</value>
              </entry>
              <entry>
                <key>Access Key</key>
              </entry>
              <entry>
                <key>Secret Key</key>
              </entry>
              <entry>
                <key>Credentials File</key>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>Version</key>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>FetchS3Object</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#e81919</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
        </processors>
        <processors>
          <id>ac45a0a6-9156-3d6f-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-708.4889886911699</x>
            <y>18.61062659461004</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>validate-csv-schema</key>
                <value>
                  <name>validate-csv-schema</name>
                </value>
              </entry>
              <entry>
                <key>validate-csv-header</key>
                <value>
                  <name>validate-csv-header</name>
                </value>
              </entry>
              <entry>
                <key>validate-csv-delimiter</key>
                <value>
                  <name>validate-csv-delimiter</name>
                </value>
              </entry>
              <entry>
                <key>validate-csv-quote</key>
                <value>
                  <name>validate-csv-quote</name>
                </value>
              </entry>
              <entry>
                <key>validate-csv-eol</key>
                <value>
                  <name>validate-csv-eol</name>
                </value>
              </entry>
              <entry>
                <key>validate-csv-strategy</key>
                <value>
                  <name>validate-csv-strategy</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>validate-csv-schema</key>
                <value>Null,Null,Null,Null,Null,Null,Null,Null</value>
              </entry>
              <entry>
                <key>validate-csv-header</key>
                <value>true</value>
              </entry>
              <entry>
                <key>validate-csv-delimiter</key>
                <value>,</value>
              </entry>
              <entry>
                <key>validate-csv-quote</key>
                <value>"</value>
              </entry>
              <entry>
                <key>validate-csv-eol</key>
                <value>\n</value>
              </entry>
              <entry>
                <key>validate-csv-strategy</key>
                <value>Line by line validation</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ValidateCsv</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>invalid</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>valid</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#dde80e</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.ValidateCsv</type>
        </processors>
        <processors>
          <id>b55f05dd-8335-3024-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-708.4889886911699</x>
            <y>375.3040292616949</y>
          </position>
          <bundle>
            <artifact>nifi-aws-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Object Key</key>
                <value>
                  <name>Object Key</name>
                </value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>
                  <name>Bucket</name>
                </value>
              </entry>
              <entry>
                <key>Content Type</key>
                <value>
                  <name>Content Type</name>
                </value>
              </entry>
              <entry>
                <key>Access Key</key>
                <value>
                  <name>Access Key</name>
                </value>
              </entry>
              <entry>
                <key>Secret Key</key>
                <value>
                  <name>Secret Key</name>
                </value>
              </entry>
              <entry>
                <key>Credentials File</key>
                <value>
                  <name>Credentials File</name>
                </value>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                  <name>AWS Credentials Provider service</name>
                </value>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>
                  <name>Storage Class</name>
                </value>
              </entry>
              <entry>
                <key>Region</key>
                <value>
                  <name>Region</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
                <value>
                  <name>Expiration Time Rule</name>
                </value>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>
                  <name>FullControl User List</name>
                </value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>
                  <name>Read Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>
                  <name>Write Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>
                  <name>Read ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>
                  <name>Write ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>
                  <name>canned-acl</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
                <value>
                  <name>Endpoint Override URL</name>
                </value>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>
                  <name>Signer Override</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>
                  <name>Multipart Threshold</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>
                  <name>Multipart Part Size</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>
                  <name>Multipart Upload AgeOff Interval</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>
                  <name>Multipart Upload Max Age Threshold</name>
                </value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>
                  <name>server-side-encryption</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
                <value>
                  <name>Proxy Host Port</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Object Key</key>
                <value>${uuid}.failed.csv</value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>sales.gcloud</value>
              </entry>
              <entry>
                <key>Content Type</key>
              </entry>
              <entry>
                <key>Access Key</key>
              </entry>
              <entry>
                <key>Secret Key</key>
              </entry>
              <entry>
                <key>Credentials File</key>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>ReducedRedundancy</value>
              </entry>
              <entry>
                <key>Region</key>
                <value>eu-west-1</value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>${s3.permissions.full.users}</value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>${s3.permissions.read.users}</value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>${s3.permissions.write.users}</value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>${s3.permissions.readacl.users}</value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>${s3.permissions.writeacl.users}</value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>${s3.owner}</value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>${s3.permissions.cannedacl}</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>60 min</value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>7 days</value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>None</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutS3Object</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#db1c39</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
          <id>04160da5-4a97-30e9-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>321.65206897097437</x>
            <y>381.66448222663166</y>
          </position>
          <bundle>
            <artifact>nifi-aws-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Object Key</key>
                <value>
                  <name>Object Key</name>
                </value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>
                  <name>Bucket</name>
                </value>
              </entry>
              <entry>
                <key>Content Type</key>
                <value>
                  <name>Content Type</name>
                </value>
              </entry>
              <entry>
                <key>Access Key</key>
                <value>
                  <name>Access Key</name>
                </value>
              </entry>
              <entry>
                <key>Secret Key</key>
                <value>
                  <name>Secret Key</name>
                </value>
              </entry>
              <entry>
                <key>Credentials File</key>
                <value>
                  <name>Credentials File</name>
                </value>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                  <name>AWS Credentials Provider service</name>
                </value>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>
                  <name>Storage Class</name>
                </value>
              </entry>
              <entry>
                <key>Region</key>
                <value>
                  <name>Region</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
                <value>
                  <name>Expiration Time Rule</name>
                </value>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>
                  <name>FullControl User List</name>
                </value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>
                  <name>Read Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>
                  <name>Write Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>
                  <name>Read ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>
                  <name>Write ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>
                  <name>canned-acl</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
                <value>
                  <name>Endpoint Override URL</name>
                </value>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>
                  <name>Signer Override</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>
                  <name>Multipart Threshold</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>
                  <name>Multipart Part Size</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>
                  <name>Multipart Upload AgeOff Interval</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>
                  <name>Multipart Upload Max Age Threshold</name>
                </value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>
                  <name>server-side-encryption</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
                <value>
                  <name>Proxy Host Port</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Object Key</key>
                <value>${uuid}.json</value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>sales.gcloud</value>
              </entry>
              <entry>
                <key>Content Type</key>
              </entry>
              <entry>
                <key>Access Key</key>
              </entry>
              <entry>
                <key>Secret Key</key>
              </entry>
              <entry>
                <key>Credentials File</key>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>ReducedRedundancy</value>
              </entry>
              <entry>
                <key>Region</key>
                <value>eu-west-1</value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>${s3.permissions.full.users}</value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>${s3.permissions.read.users}</value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>${s3.permissions.write.users}</value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>${s3.permissions.readacl.users}</value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>${s3.permissions.writeacl.users}</value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>${s3.owner}</value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>${s3.permissions.cannedacl}</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>60 min</value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>7 days</value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>None</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutS3Object</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#db1c39</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
          <id>1ad9859e-f195-3bf0-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-52.067907734492564</x>
            <y>65.74832717874574</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Record Reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>Record Reader</name>
                </value>
              </entry>
              <entry>
                <key>Record Writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>Record Writer</name>
                </value>
              </entry>
              <entry>
                <key>Records Per Split</key>
                <value>
                  <name>Records Per Split</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Record Reader</key>
                <value>6f8fbda0-5bf5-3641-0000-000000000000</value>
              </entry>
              <entry>
                <key>Record Writer</key>
                <value>5da8a31b-37ac-30a2-0000-000000000000</value>
              </entry>
              <entry>
                <key>Records Per Split</key>
                <value>2</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitRecord</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitRecord</type>
        </processors>
        <processors>
          <id>33dd6628-2a25-3fb8-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-194.50254711755179</x>
            <y>-601.1403078348867</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Input Directory</key>
                <value>
                  <name>Input Directory</name>
                </value>
              </entry>
              <entry>
                <key>File Filter</key>
                <value>
                  <name>File Filter</name>
                </value>
              </entry>
              <entry>
                <key>Path Filter</key>
                <value>
                  <name>Path Filter</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Keep Source File</key>
                <value>
                  <name>Keep Source File</name>
                </value>
              </entry>
              <entry>
                <key>Recurse Subdirectories</key>
                <value>
                  <name>Recurse Subdirectories</name>
                </value>
              </entry>
              <entry>
                <key>Polling Interval</key>
                <value>
                  <name>Polling Interval</name>
                </value>
              </entry>
              <entry>
                <key>Ignore Hidden Files</key>
                <value>
                  <name>Ignore Hidden Files</name>
                </value>
              </entry>
              <entry>
                <key>Minimum File Age</key>
                <value>
                  <name>Minimum File Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Age</key>
                <value>
                  <name>Maximum File Age</name>
                </value>
              </entry>
              <entry>
                <key>Minimum File Size</key>
                <value>
                  <name>Minimum File Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Size</key>
                <value>
                  <name>Maximum File Size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Input Directory</key>
                <value>/data/data-in</value>
              </entry>
              <entry>
                <key>File Filter</key>
                <value>[^\.].*</value>
              </entry>
              <entry>
                <key>Path Filter</key>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>10</value>
              </entry>
              <entry>
                <key>Keep Source File</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Recurse Subdirectories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Polling Interval</key>
                <value>60 seconds</value>
              </entry>
              <entry>
                <key>Ignore Hidden Files</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Minimum File Age</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>Maximum File Age</key>
              </entry>
              <entry>
                <key>Minimum File Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum File Size</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GetFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
          <id>36517315-4a19-3f17-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-708.4889886911699</x>
            <y>-218.7763463277625</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>"""</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>"</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Literal Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Line-by-Line</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>5aa34ddc-9f1c-30ad-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-1198.41350173597</x>
            <y>-893.7984051230611</y>
          </position>
          <bundle>
            <artifact>nifi-aws-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Bucket</key>
                <value>
                  <name>Bucket</name>
                </value>
              </entry>
              <entry>
                <key>Region</key>
                <value>
                  <name>Region</name>
                </value>
              </entry>
              <entry>
                <key>Access Key</key>
                <value>
                  <name>Access Key</name>
                </value>
              </entry>
              <entry>
                <key>Secret Key</key>
                <value>
                  <name>Secret Key</name>
                </value>
              </entry>
              <entry>
                <key>Credentials File</key>
                <value>
                  <name>Credentials File</name>
                </value>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                  <name>AWS Credentials Provider service</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
                <value>
                  <name>Endpoint Override URL</name>
                </value>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>
                  <name>Signer Override</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
                <value>
                  <name>Proxy Host Port</name>
                </value>
              </entry>
              <entry>
                <key>delimiter</key>
                <value>
                  <name>delimiter</name>
                </value>
              </entry>
              <entry>
                <key>prefix</key>
                <value>
                  <name>prefix</name>
                </value>
              </entry>
              <entry>
                <key>use-versions</key>
                <value>
                  <name>use-versions</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Bucket</key>
                <value>nifi-data-in</value>
              </entry>
              <entry>
                <key>Region</key>
                <value>eu-west-1</value>
              </entry>
              <entry>
                <key>Access Key</key>
              </entry>
              <entry>
                <key>Secret Key</key>
              </entry>
              <entry>
                <key>Credentials File</key>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
              </entry>
              <entry>
                <key>delimiter</key>
              </entry>
              <entry>
                <key>prefix</key>
              </entry>
              <entry>
                <key>use-versions</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ListS3</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#e81515</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.aws.s3.ListS3</type>
        </processors>
        <processors>
          <id>5c718d2a-c1b6-3fbb-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-182.22638216677353</x>
            <y>377.2481622094507</y>
          </position>
          <bundle>
            <artifact>nifi-aws-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Object Key</key>
                <value>
                  <name>Object Key</name>
                </value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>
                  <name>Bucket</name>
                </value>
              </entry>
              <entry>
                <key>Content Type</key>
                <value>
                  <name>Content Type</name>
                </value>
              </entry>
              <entry>
                <key>Access Key</key>
                <value>
                  <name>Access Key</name>
                </value>
              </entry>
              <entry>
                <key>Secret Key</key>
                <value>
                  <name>Secret Key</name>
                </value>
              </entry>
              <entry>
                <key>Credentials File</key>
                <value>
                  <name>Credentials File</name>
                </value>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                  <name>AWS Credentials Provider service</name>
                </value>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>
                  <name>Storage Class</name>
                </value>
              </entry>
              <entry>
                <key>Region</key>
                <value>
                  <name>Region</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
                <value>
                  <name>Expiration Time Rule</name>
                </value>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>
                  <name>FullControl User List</name>
                </value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>
                  <name>Read Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>
                  <name>Write Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>
                  <name>Read ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>
                  <name>Write ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>
                  <name>canned-acl</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
                <value>
                  <name>Endpoint Override URL</name>
                </value>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>
                  <name>Signer Override</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>
                  <name>Multipart Threshold</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>
                  <name>Multipart Part Size</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>
                  <name>Multipart Upload AgeOff Interval</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>
                  <name>Multipart Upload Max Age Threshold</name>
                </value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>
                  <name>server-side-encryption</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
                <value>
                  <name>Proxy Host Port</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Object Key</key>
                <value>${uuid}.orig.csv</value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>sales.gcloud</value>
              </entry>
              <entry>
                <key>Content Type</key>
              </entry>
              <entry>
                <key>Access Key</key>
              </entry>
              <entry>
                <key>Secret Key</key>
              </entry>
              <entry>
                <key>Credentials File</key>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>ReducedRedundancy</value>
              </entry>
              <entry>
                <key>Region</key>
                <value>eu-west-1</value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>${s3.permissions.full.users}</value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>${s3.permissions.read.users}</value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>${s3.permissions.write.users}</value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>${s3.permissions.readacl.users}</value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>${s3.permissions.writeacl.users}</value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>${s3.owner}</value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>${s3.permissions.cannedacl}</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>60 min</value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>7 days</value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>None</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutS3Object</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#db1c39</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
          <id>60d8dbcd-522a-34e3-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-708.4889886911699</x>
            <y>-801.044374070726</y>
          </position>
          <bundle>
            <artifact>nifi-aws-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Bucket</key>
                <value>
                  <name>Bucket</name>
                </value>
              </entry>
              <entry>
                <key>Region</key>
                <value>
                  <name>Region</name>
                </value>
              </entry>
              <entry>
                <key>Access Key</key>
                <value>
                  <name>Access Key</name>
                </value>
              </entry>
              <entry>
                <key>Secret Key</key>
                <value>
                  <name>Secret Key</name>
                </value>
              </entry>
              <entry>
                <key>Credentials File</key>
                <value>
                  <name>Credentials File</name>
                </value>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                  <name>AWS Credentials Provider service</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
                <value>
                  <name>Endpoint Override URL</name>
                </value>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>
                  <name>Signer Override</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
                <value>
                  <name>Proxy Host Port</name>
                </value>
              </entry>
              <entry>
                <key>delimiter</key>
                <value>
                  <name>delimiter</name>
                </value>
              </entry>
              <entry>
                <key>prefix</key>
                <value>
                  <name>prefix</name>
                </value>
              </entry>
              <entry>
                <key>use-versions</key>
                <value>
                  <name>use-versions</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Bucket</key>
                <value>nifi-data-in/csv</value>
              </entry>
              <entry>
                <key>Region</key>
                <value>eu-west-1</value>
              </entry>
              <entry>
                <key>Access Key</key>
              </entry>
              <entry>
                <key>Secret Key</key>
              </entry>
              <entry>
                <key>Credentials File</key>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
              </entry>
              <entry>
                <key>delimiter</key>
              </entry>
              <entry>
                <key>prefix</key>
              </entry>
              <entry>
                <key>use-versions</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ListS3</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#e81515</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.aws.s3.ListS3</type>
        </processors>
        <processors>
          <id>66fa5dd7-d4ac-3c80-0000-000000000000</id>
          <parentGroupId>1332da58-0242-35a5-0000-000000000000</parentGroupId>
          <position>
            <x>-1207.299451106101</x>
            <y>-496.88932250063726</y>
          </position>
          <bundle>
            <artifact>nifi-poi-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>extract-sheets</key>
                <value>
                  <name>extract-sheets</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>extract-sheets</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertExcelToCSVProcessor</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor</type>
        </processors>
      </contents>
      <name>CSV/Excel Processor</name>
    </processGroups>
  </snippet>
  <timestamp>09/26/2017 15:11:52 UTC</timestamp>
</template>