EU_Legislation.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>135ca2a5-015d-1000-b75a-bdaf382c2568</groupId>
  <name>EU Legislation </name>
  <snippet>
    <controllerServices>
      <id>e8c4dd21-498a-325b-0000-000000000000</id>
      <parentGroupId>645f8f2c-44e5-3e5a-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>default-credentials</key>
          <value>
            <name>default-credentials</name>
          </value>
        </entry>
        <entry>
          <key>Access Key</key>
          <value>
            <name>Access Key</name>
          </value>
        </entry>
        <entry>
          <key>Secret Key</key>
          <value>
            <name>Secret Key</name>
          </value>
        </entry>
        <entry>
          <key>Credentials File</key>
          <value>
            <name>Credentials File</name>
          </value>
        </entry>
        <entry>
          <key>profile-name</key>
          <value>
            <name>profile-name</name>
          </value>
        </entry>
        <entry>
          <key>anonymous-credentials</key>
          <value>
            <name>anonymous-credentials</name>
          </value>
        </entry>
        <entry>
          <key>Assume Role ARN</key>
          <value>
            <name>Assume Role ARN</name>
          </value>
        </entry>
        <entry>
          <key>Assume Role Session Name</key>
          <value>
            <name>Assume Role Session Name</name>
          </value>
        </entry>
        <entry>
          <key>Session Time</key>
          <value>
            <name>Session Time</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-external-id</key>
          <value>
            <name>assume-role-external-id</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-proxy-host</key>
          <value>
            <name>assume-role-proxy-host</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-proxy-port</key>
          <value>
            <name>assume-role-proxy-port</name>
          </value>
        </entry>
      </descriptors>
      <name>NiFi-AWSCredentials</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>default-credentials</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Access Key</key>
        </entry>
        <entry>
          <key>Secret Key</key>
        </entry>
        <entry>
          <key>Credentials File</key>
        </entry>
        <entry>
          <key>profile-name</key>
        </entry>
        <entry>
          <key>anonymous-credentials</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Assume Role ARN</key>
        </entry>
        <entry>
          <key>Assume Role Session Name</key>
        </entry>
        <entry>
          <key>Session Time</key>
          <value>3600</value>
        </entry>
        <entry>
          <key>assume-role-external-id</key>
        </entry>
        <entry>
          <key>assume-role-proxy-host</key>
        </entry>
        <entry>
          <key>assume-role-proxy-port</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
    </controllerServices>
    <processGroups>
      <id>72502289-429e-34df-0000-000000000000</id>
      <parentGroupId>645f8f2c-44e5-3e5a-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>a190555a-ea94-3c44-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>0613fa88-b5ea-319c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name>1xx, 3xx, 4xx</name>
          <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
          <selectedRelationships>No Retry</selectedRelationships>
          <source>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>52406412-ec04-3206-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>bdbe26b8-8d47-30ea-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>e0195846-fd5d-3c9e-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>f13f5f45-5b39-387a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>dc9434dd-1330-3119-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>26b2cd0b-1284-3b11-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
          <selectedRelationships>split</selectedRelationships>
          <source>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>492cfad4-15b5-36ce-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f647d2ed-4ad2-32c3-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>e0195846-fd5d-3c9e-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>ee146c74-152f-31a3-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>12dcdd69-61a1-31c5-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>492cfad4-15b5-36ce-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>Response</selectedRelationships>
          <source>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>52406412-ec04-3206-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>39e149e6-078d-3c59-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>a99c4385-f9bc-3e57-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>26b2cd0b-1284-3b11-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>538bd648-473b-3a64-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>2150.676703048961</x>
            <y>424.1057120404114</y>
          </bends>
          <bends>
            <x>2250.033981372072</x>
            <y>471.06207275390625</y>
          </bends>
          <destination>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>52406412-ec04-3206-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>Retry</selectedRelationships>
          <source>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>52406412-ec04-3206-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>55292d06-4908-3adb-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>52406412-ec04-3206-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>e0195846-fd5d-3c9e-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>64c1a229-0cf8-38e2-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>f13f5f45-5b39-387a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>72502289-429e-34df-0000-000000000000</groupId>
            <id>0613fa88-b5ea-319c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <funnels>
          <id>e0195846-fd5d-3c9e-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <position>
            <x>1846.676703048961</x>
            <y>259.2367459252189</y>
          </position>
        </funnels>
        <processors>
          <id>a99c4385-f9bc-3e57-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <position>
            <x>1701.4041200411484</x>
            <y>1121.3696442943492</y>
          </position>
          <bundle>
            <artifact>nifi-aws-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Object Key</key>
                <value>
                  <name>Object Key</name>
                </value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>
                  <name>Bucket</name>
                </value>
              </entry>
              <entry>
                <key>Content Type</key>
                <value>
                  <name>Content Type</name>
                </value>
              </entry>
              <entry>
                <key>Access Key</key>
                <value>
                  <name>Access Key</name>
                </value>
              </entry>
              <entry>
                <key>Secret Key</key>
                <value>
                  <name>Secret Key</name>
                </value>
              </entry>
              <entry>
                <key>Credentials File</key>
                <value>
                  <name>Credentials File</name>
                </value>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                  <name>AWS Credentials Provider service</name>
                </value>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>
                  <name>Storage Class</name>
                </value>
              </entry>
              <entry>
                <key>Region</key>
                <value>
                  <name>Region</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
                <value>
                  <name>Expiration Time Rule</name>
                </value>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>
                  <name>FullControl User List</name>
                </value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>
                  <name>Read Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>
                  <name>Write Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>
                  <name>Read ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>
                  <name>Write ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>
                  <name>canned-acl</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
                <value>
                  <name>Endpoint Override URL</name>
                </value>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>
                  <name>Signer Override</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>
                  <name>Multipart Threshold</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>
                  <name>Multipart Part Size</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>
                  <name>Multipart Upload AgeOff Interval</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>
                  <name>Multipart Upload Max Age Threshold</name>
                </value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>
                  <name>server-side-encryption</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
                <value>
                  <name>Proxy Host Port</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Object Key</key>
                <value>${docid}.json</value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>spons-data-out</value>
              </entry>
              <entry>
                <key>Content Type</key>
              </entry>
              <entry>
                <key>Access Key</key>
              </entry>
              <entry>
                <key>Secret Key</key>
              </entry>
              <entry>
                <key>Credentials File</key>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>e8c4dd21-498a-325b-0000-000000000000</value>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>ReducedRedundancy</value>
              </entry>
              <entry>
                <key>Region</key>
                <value>eu-west-1</value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>${s3.permissions.full.users}</value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>${s3.permissions.read.users}</value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>${s3.permissions.write.users}</value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>${s3.permissions.readacl.users}</value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>${s3.permissions.writeacl.users}</value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>${s3.owner}</value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>${s3.permissions.cannedacl}</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>60 min</value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>7 days</value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>None</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutS3Object</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#db1c39</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
          <id>ee146c74-152f-31a3-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <position>
            <x>1696.631292892711</x>
            <y>45.094026616938635</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>0B</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>1 hour</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateFlowFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>f13f5f45-5b39-387a-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <position>
            <x>2375.2836396806515</x>
            <y>26.007834715620447</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>go</key>
                <value>
                  <name>go</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to 'match' if all match</value>
              </entry>
              <entry>
                <key>go</key>
                <value>${now():gt(${wait5mins})}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>RouteOnAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>0613fa88-b5ea-319c-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <position>
            <x>2378.5057672290523</x>
            <y>254.51747375562059</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>wait5mins</key>
                <value>
                  <name>wait5mins</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>wait5mins</key>
                <value>${now():plus(300000)}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>26b2cd0b-1284-3b11-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <position>
            <x>1699.6138628298647</x>
            <y>864.4195112375585</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>docid</key>
                <value>
                  <name>docid</name>
                </value>
              </entry>
              <entry>
                <key>uri</key>
                <value>
                  <name>uri</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>docid</key>
                <value>$.doc_id</value>
              </entry>
              <entry>
                <key>uri</key>
                <value>$.eurlex_perma_url</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>492cfad4-15b5-36ce-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <position>
            <x>1695.676703048961</x>
            <y>637.0068329646933</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JsonPath Expression</key>
                <value>
                  <name>JsonPath Expression</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JsonPath Expression</key>
                <value>$.[*]</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitJson</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>split</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
          <id>52406412-ec04-3206-0000-000000000000</id>
          <parentGroupId>72502289-429e-34df-0000-000000000000</parentGroupId>
          <position>
            <x>1695.676703048961</x>
            <y>384.1057120404114</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.2.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>HTTP Method</key>
                <value>
                  <name>HTTP Method</name>
                </value>
              </entry>
              <entry>
                <key>Remote URL</key>
                <value>
                  <name>Remote URL</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>
                  <name>Connection Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Read Timeout</key>
                <value>
                  <name>Read Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Include Date Header</key>
                <value>
                  <name>Include Date Header</name>
                </value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>
                  <name>Follow Redirects</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Send</key>
                <value>
                  <name>Attributes to Send</name>
                </value>
              </entry>
              <entry>
                <key>Basic Authentication Username</key>
                <value>
                  <name>Basic Authentication Username</name>
                </value>
              </entry>
              <entry>
                <key>Basic Authentication Password</key>
                <value>
                  <name>Basic Authentication Password</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Port</key>
                <value>
                  <name>Proxy Port</name>
                </value>
              </entry>
              <entry>
                <key>invokehttp-proxy-user</key>
                <value>
                  <name>invokehttp-proxy-user</name>
                </value>
              </entry>
              <entry>
                <key>invokehttp-proxy-password</key>
                <value>
                  <name>invokehttp-proxy-password</name>
                </value>
              </entry>
              <entry>
                <key>Put Response Body In Attribute</key>
                <value>
                  <name>Put Response Body In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                  <name>Max Length To Put In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Digest Authentication</key>
                <value>
                  <name>Digest Authentication</name>
                </value>
              </entry>
              <entry>
                <key>Always Output Response</key>
                <value>
                  <name>Always Output Response</name>
                </value>
              </entry>
              <entry>
                <key>Trusted Hostname</key>
                <value>
                  <name>Trusted Hostname</name>
                </value>
              </entry>
              <entry>
                <key>Add Response Headers to Request</key>
                <value>
                  <name>Add Response Headers to Request</name>
                </value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>
                  <name>Content-Type</name>
                </value>
              </entry>
              <entry>
                <key>send-message-body</key>
                <value>
                  <name>send-message-body</name>
                </value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>
                  <name>Use Chunked Encoding</name>
                </value>
              </entry>
              <entry>
                <key>Penalize on "No Retry"</key>
                <value>
                  <name>Penalize on "No Retry"</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>HTTP Method</key>
                <value>GET</value>
              </entry>
              <entry>
                <key>Remote URL</key>
                <value>http://api.epdb.eu/eurlex/document/</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>Read Timeout</key>
                <value>60 secs</value>
              </entry>
              <entry>
                <key>Include Date Header</key>
                <value>True</value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>True</value>
              </entry>
              <entry>
                <key>Attributes to Send</key>
              </entry>
              <entry>
                <key>Basic Authentication Username</key>
              </entry>
              <entry>
                <key>Basic Authentication Password</key>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Port</key>
              </entry>
              <entry>
                <key>invokehttp-proxy-user</key>
              </entry>
              <entry>
                <key>invokehttp-proxy-password</key>
              </entry>
              <entry>
                <key>Put Response Body In Attribute</key>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>256</value>
              </entry>
              <entry>
                <key>Digest Authentication</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Always Output Response</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Trusted Hostname</key>
              </entry>
              <entry>
                <key>Add Response Headers to Request</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>${mime.type}</value>
              </entry>
              <entry>
                <key>send-message-body</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Penalize on "No Retry"</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EU Legislation API</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>Failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>No Retry</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>Original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Response</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Retry</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
      </contents>
      <name>EU Legislation</name>
    </processGroups>
  </snippet>
  <timestamp>09/26/2017 15:11:34 UTC</timestamp>
</template>