UN_Inventory_-_Data_Extraction.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>01e7e7ff-0160-1000-e43b-075e89af1e0c</groupId>
  <name>UN Inventory - Data Extraction</name>
  <snippet>
    <connections>
      <id>af5eb397-1f9e-3202-0000-000000000000</id>
      <parentGroupId>13da4b51-cffb-3f4a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>13da4b51-cffb-3f4a-0000-000000000000</groupId>
        <id>10858c4a-72a0-3342-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>13da4b51-cffb-3f4a-0000-000000000000</groupId>
        <id>93804a71-d29f-3398-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c8987343-d8f5-39c5-0000-000000000000</id>
      <parentGroupId>13da4b51-cffb-3f4a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>13da4b51-cffb-3f4a-0000-000000000000</groupId>
        <id>8017cd92-9e52-3cd9-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>13da4b51-cffb-3f4a-0000-000000000000</groupId>
        <id>bd5d881b-4391-30ab-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0e96c38f-4add-3b2e-0000-000000000000</id>
      <parentGroupId>13da4b51-cffb-3f4a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>13da4b51-cffb-3f4a-0000-000000000000</groupId>
        <id>d1b9daf6-0d0a-31ee-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>13da4b51-cffb-3f4a-0000-000000000000</groupId>
        <id>10858c4a-72a0-3342-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>2fc29104-ff5f-3b20-0000-000000000000</id>
      <parentGroupId>13da4b51-cffb-3f4a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>13da4b51-cffb-3f4a-0000-000000000000</groupId>
        <id>93804a71-d29f-3398-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>13da4b51-cffb-3f4a-0000-000000000000</groupId>
        <id>8017cd92-9e52-3cd9-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>c182aa5f-c1c5-39e4-0000-000000000000</id>
      <parentGroupId>13da4b51-cffb-3f4a-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>default-credentials</key>
          <value>
            <name>default-credentials</name>
          </value>
        </entry>
        <entry>
          <key>Access Key</key>
          <value>
            <name>Access Key</name>
          </value>
        </entry>
        <entry>
          <key>Secret Key</key>
          <value>
            <name>Secret Key</name>
          </value>
        </entry>
        <entry>
          <key>Credentials File</key>
          <value>
            <name>Credentials File</name>
          </value>
        </entry>
        <entry>
          <key>profile-name</key>
          <value>
            <name>profile-name</name>
          </value>
        </entry>
        <entry>
          <key>anonymous-credentials</key>
          <value>
            <name>anonymous-credentials</name>
          </value>
        </entry>
        <entry>
          <key>Assume Role ARN</key>
          <value>
            <name>Assume Role ARN</name>
          </value>
        </entry>
        <entry>
          <key>Assume Role Session Name</key>
          <value>
            <name>Assume Role Session Name</name>
          </value>
        </entry>
        <entry>
          <key>Session Time</key>
          <value>
            <name>Session Time</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-external-id</key>
          <value>
            <name>assume-role-external-id</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-proxy-host</key>
          <value>
            <name>assume-role-proxy-host</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-proxy-port</key>
          <value>
            <name>assume-role-proxy-port</name>
          </value>
        </entry>
      </descriptors>
      <name>NiFi-AWSCredentials</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>default-credentials</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Access Key</key>
        </entry>
        <entry>
          <key>Secret Key</key>
        </entry>
        <entry>
          <key>Credentials File</key>
        </entry>
        <entry>
          <key>profile-name</key>
        </entry>
        <entry>
          <key>anonymous-credentials</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Assume Role ARN</key>
        </entry>
        <entry>
          <key>Assume Role Session Name</key>
        </entry>
        <entry>
          <key>Session Time</key>
          <value>3600</value>
        </entry>
        <entry>
          <key>assume-role-external-id</key>
        </entry>
        <entry>
          <key>assume-role-proxy-host</key>
        </entry>
        <entry>
          <key>assume-role-proxy-port</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
    </controllerServices>
    <processors>
      <id>8017cd92-9e52-3cd9-0000-000000000000</id>
      <parentGroupId>13da4b51-cffb-3f4a-0000-000000000000</parentGroupId>
      <position>
        <x>1.3542472022606944</x>
        <y>246.4728670519023</y>
      </position>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Bucket</key>
            <value>
              <name>Bucket</name>
            </value>
          </entry>
          <entry>
            <key>Object Key</key>
            <value>
              <name>Object Key</name>
            </value>
          </entry>
          <entry>
            <key>Region</key>
            <value>
              <name>Region</name>
            </value>
          </entry>
          <entry>
            <key>Access Key</key>
            <value>
              <name>Access Key</name>
            </value>
          </entry>
          <entry>
            <key>Secret Key</key>
            <value>
              <name>Secret Key</name>
            </value>
          </entry>
          <entry>
            <key>Credentials File</key>
            <value>
              <name>Credentials File</name>
            </value>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
              <name>AWS Credentials Provider service</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Version</key>
            <value>
              <name>Version</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
            <value>
              <name>Endpoint Override URL</name>
            </value>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>
              <name>Signer Override</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
            <value>
              <name>Proxy Host Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Bucket</key>
            <value>spons-data-out</value>
          </entry>
          <entry>
            <key>Object Key</key>
            <value>${filename}</value>
          </entry>
          <entry>
            <key>Region</key>
            <value>eu-west-1</value>
          </entry>
          <entry>
            <key>Access Key</key>
          </entry>
          <entry>
            <key>Secret Key</key>
          </entry>
          <entry>
            <key>Credentials File</key>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>c182aa5f-c1c5-39e4-0000-000000000000</value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>Version</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>Default Signature</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchS3Object</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
    </processors>
    <processors>
      <id>93804a71-d29f-3398-0000-000000000000</id>
      <parentGroupId>13da4b51-cffb-3f4a-0000-000000000000</parentGroupId>
      <position>
        <x>2.7359059015853973</x>
        <y>481.6601067705426</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>
              <name>Maximum Capture Group Length</name>
            </value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>
              <name>Enable Canonical Equivalence</name>
            </value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>
              <name>Enable Case-insensitive Matching</name>
            </value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>
              <name>Permit Whitespace and Comments in Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>
              <name>Enable DOTALL Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>
              <name>Enable Literal Parsing of the Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>
              <name>Enable Multiline Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>
              <name>Enable Unicode-aware Case Folding</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>
              <name>Enable Unicode Predefined Character Classes</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>
              <name>Enable Unix Lines Mode</name>
            </value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>
              <name>Include Capture Group 0</name>
            </value>
          </entry>
          <entry>
            <key>extract-text-enable-repeating-capture-group</key>
            <value>
              <name>extract-text-enable-repeating-capture-group</name>
            </value>
          </entry>
          <entry>
            <key>contact-division</key>
            <value>
              <name>contact-division</name>
            </value>
          </entry>
          <entry>
            <key>contact-email</key>
            <value>
              <name>contact-email</name>
            </value>
          </entry>
          <entry>
            <key>contact-name</key>
            <value>
              <name>contact-name</name>
            </value>
          </entry>
          <entry>
            <key>data-access</key>
            <value>
              <name>data-access</name>
            </value>
          </entry>
          <entry>
            <key>data-costs</key>
            <value>
              <name>data-costs</name>
            </value>
          </entry>
          <entry>
            <key>data-coverage</key>
            <value>
              <name>data-coverage</name>
            </value>
          </entry>
          <entry>
            <key>data-intermediary</key>
            <value>
              <name>data-intermediary</name>
            </value>
          </entry>
          <entry>
            <key>data-period</key>
            <value>
              <name>data-period</name>
            </value>
          </entry>
          <entry>
            <key>data-quality-comments</key>
            <value>
              <name>data-quality-comments</name>
            </value>
          </entry>
          <entry>
            <key>data-quality-concerns</key>
            <value>
              <name>data-quality-concerns</name>
            </value>
          </entry>
          <entry>
            <key>data-quality-evaluated</key>
            <value>
              <name>data-quality-evaluated</name>
            </value>
          </entry>
          <entry>
            <key>data-quality-framework</key>
            <value>
              <name>data-quality-framework</name>
            </value>
          </entry>
          <entry>
            <key>methods-used</key>
            <value>
              <name>methods-used</name>
            </value>
          </entry>
          <entry>
            <key>partners-data</key>
            <value>
              <name>partners-data</name>
            </value>
          </entry>
          <entry>
            <key>partners-other</key>
            <value>
              <name>partners-other</name>
            </value>
          </entry>
          <entry>
            <key>partners-partnerships</key>
            <value>
              <name>partners-partnerships</name>
            </value>
          </entry>
          <entry>
            <key>project-description</key>
            <value>
              <name>project-description</name>
            </value>
          </entry>
          <entry>
            <key>sdg-comments</key>
            <value>
              <name>sdg-comments</name>
            </value>
          </entry>
          <entry>
            <key>sdg-goals</key>
            <value>
              <name>sdg-goals</name>
            </value>
          </entry>
          <entry>
            <key>sdg-relevance</key>
            <value>
              <name>sdg-relevance</name>
            </value>
          </entry>
          <entry>
            <key>technology-used</key>
            <value>
              <name>technology-used</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>1024</value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>true</value>
          </entry>
          <entry>
            <key>extract-text-enable-repeating-capture-group</key>
            <value>false</value>
          </entry>
          <entry>
            <key>contact-division</key>
            <value>(?&lt;=Division:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>contact-email</key>
            <value>(?&lt;=&lt;li&gt;&lt;strong&gt;Email:&lt;\/strong&gt; &lt;a href="mailto:)(.+?)"</value>
          </entry>
          <entry>
            <key>contact-name</key>
            <value>(?&lt;=Name:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>data-access</key>
            <value>(?&lt;=Data Access Comments:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>data-costs</key>
            <value>(?&lt;=Cost Comments:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>data-coverage</key>
            <value>(?&lt;=Data Coverage:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>data-intermediary</key>
            <value>(?&lt;=Intermediary:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>data-period</key>
            <value>(?&lt;=Coverage Period:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>data-quality-comments</key>
            <value>(?&lt;=Validation Comments&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>data-quality-concerns</key>
            <value>(?&lt;=Data Quality Concerns Comments:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>data-quality-evaluated</key>
            <value>(?&lt;=Quality Aspects Evaluated:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>data-quality-framework</key>
            <value>(?&lt;=Quality Framework Comments:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>methods-used</key>
            <value>(?&lt;=Methods Used: &lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>partners-data</key>
            <value>(?&lt;=Data providers:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>partners-other</key>
            <value>(?&lt;=Other partners:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>partners-partnerships</key>
            <value>(?&lt;=Partnerships Comments:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>project-description</key>
            <value>(?&lt;=project-specs\"&gt;)(.+?)&lt;</value>
          </entry>
          <entry>
            <key>sdg-comments</key>
            <value>(?&lt;=SDG Comments:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>sdg-goals</key>
            <value>(?&lt;=SDG Goals:&lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>sdg-relevance</key>
            <value>(?&lt;=SDG Relevance: &lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
          <entry>
            <key>technology-used</key>
            <value>(?&lt;=Technologies Used: &lt;\/strong&gt; )(.+?)&lt;</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExtractText</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.ExtractText</type>
    </processors>
    <processors>
      <id>bd5d881b-4391-30ab-0000-000000000000</id>
      <parentGroupId>13da4b51-cffb-3f4a-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Bucket</key>
            <value>
              <name>Bucket</name>
            </value>
          </entry>
          <entry>
            <key>Region</key>
            <value>
              <name>Region</name>
            </value>
          </entry>
          <entry>
            <key>Access Key</key>
            <value>
              <name>Access Key</name>
            </value>
          </entry>
          <entry>
            <key>Secret Key</key>
            <value>
              <name>Secret Key</name>
            </value>
          </entry>
          <entry>
            <key>Credentials File</key>
            <value>
              <name>Credentials File</name>
            </value>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
              <name>AWS Credentials Provider service</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
            <value>
              <name>Endpoint Override URL</name>
            </value>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>
              <name>Signer Override</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
            <value>
              <name>Proxy Host Port</name>
            </value>
          </entry>
          <entry>
            <key>delimiter</key>
            <value>
              <name>delimiter</name>
            </value>
          </entry>
          <entry>
            <key>prefix</key>
            <value>
              <name>prefix</name>
            </value>
          </entry>
          <entry>
            <key>use-versions</key>
            <value>
              <name>use-versions</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Bucket</key>
            <value>spons-data-out</value>
          </entry>
          <entry>
            <key>Region</key>
            <value>eu-west-1</value>
          </entry>
          <entry>
            <key>Access Key</key>
          </entry>
          <entry>
            <key>Secret Key</key>
          </entry>
          <entry>
            <key>Credentials File</key>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>c182aa5f-c1c5-39e4-0000-000000000000</value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>Default Signature</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
          </entry>
          <entry>
            <key>delimiter</key>
          </entry>
          <entry>
            <key>prefix</key>
            <value>uncollabs/html/</value>
          </entry>
          <entry>
            <key>use-versions</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListS3</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.aws.s3.ListS3</type>
    </processors>
    <processors>
      <id>d1b9daf6-0d0a-31ee-0000-000000000000</id>
      <parentGroupId>13da4b51-cffb-3f4a-0000-000000000000</parentGroupId>
      <position>
        <x>2.2944873540570825</x>
        <y>974.3681363675605</y>
      </position>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Object Key</key>
            <value>
              <name>Object Key</name>
            </value>
          </entry>
          <entry>
            <key>Bucket</key>
            <value>
              <name>Bucket</name>
            </value>
          </entry>
          <entry>
            <key>Content Type</key>
            <value>
              <name>Content Type</name>
            </value>
          </entry>
          <entry>
            <key>Access Key</key>
            <value>
              <name>Access Key</name>
            </value>
          </entry>
          <entry>
            <key>Secret Key</key>
            <value>
              <name>Secret Key</name>
            </value>
          </entry>
          <entry>
            <key>Credentials File</key>
            <value>
              <name>Credentials File</name>
            </value>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
              <name>AWS Credentials Provider service</name>
            </value>
          </entry>
          <entry>
            <key>Storage Class</key>
            <value>
              <name>Storage Class</name>
            </value>
          </entry>
          <entry>
            <key>Region</key>
            <value>
              <name>Region</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Expiration Time Rule</key>
            <value>
              <name>Expiration Time Rule</name>
            </value>
          </entry>
          <entry>
            <key>FullControl User List</key>
            <value>
              <name>FullControl User List</name>
            </value>
          </entry>
          <entry>
            <key>Read Permission User List</key>
            <value>
              <name>Read Permission User List</name>
            </value>
          </entry>
          <entry>
            <key>Write Permission User List</key>
            <value>
              <name>Write Permission User List</name>
            </value>
          </entry>
          <entry>
            <key>Read ACL User List</key>
            <value>
              <name>Read ACL User List</name>
            </value>
          </entry>
          <entry>
            <key>Write ACL User List</key>
            <value>
              <name>Write ACL User List</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>canned-acl</key>
            <value>
              <name>canned-acl</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
            <value>
              <name>Endpoint Override URL</name>
            </value>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>
              <name>Signer Override</name>
            </value>
          </entry>
          <entry>
            <key>Multipart Threshold</key>
            <value>
              <name>Multipart Threshold</name>
            </value>
          </entry>
          <entry>
            <key>Multipart Part Size</key>
            <value>
              <name>Multipart Part Size</name>
            </value>
          </entry>
          <entry>
            <key>Multipart Upload AgeOff Interval</key>
            <value>
              <name>Multipart Upload AgeOff Interval</name>
            </value>
          </entry>
          <entry>
            <key>Multipart Upload Max Age Threshold</key>
            <value>
              <name>Multipart Upload Max Age Threshold</name>
            </value>
          </entry>
          <entry>
            <key>server-side-encryption</key>
            <value>
              <name>server-side-encryption</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
            <value>
              <name>Proxy Host Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Object Key</key>
            <value>uncollabs/json/${filename}.json</value>
          </entry>
          <entry>
            <key>Bucket</key>
            <value>spons-data-out</value>
          </entry>
          <entry>
            <key>Content Type</key>
          </entry>
          <entry>
            <key>Access Key</key>
          </entry>
          <entry>
            <key>Secret Key</key>
          </entry>
          <entry>
            <key>Credentials File</key>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>c182aa5f-c1c5-39e4-0000-000000000000</value>
          </entry>
          <entry>
            <key>Storage Class</key>
            <value>ReducedRedundancy</value>
          </entry>
          <entry>
            <key>Region</key>
            <value>eu-west-1</value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>Expiration Time Rule</key>
          </entry>
          <entry>
            <key>FullControl User List</key>
            <value>${s3.permissions.full.users}</value>
          </entry>
          <entry>
            <key>Read Permission User List</key>
            <value>${s3.permissions.read.users}</value>
          </entry>
          <entry>
            <key>Write Permission User List</key>
            <value>${s3.permissions.write.users}</value>
          </entry>
          <entry>
            <key>Read ACL User List</key>
            <value>${s3.permissions.readacl.users}</value>
          </entry>
          <entry>
            <key>Write ACL User List</key>
            <value>${s3.permissions.writeacl.users}</value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>${s3.owner}</value>
          </entry>
          <entry>
            <key>canned-acl</key>
            <value>${s3.permissions.cannedacl}</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>Default Signature</value>
          </entry>
          <entry>
            <key>Multipart Threshold</key>
            <value>5 GB</value>
          </entry>
          <entry>
            <key>Multipart Part Size</key>
            <value>5 GB</value>
          </entry>
          <entry>
            <key>Multipart Upload AgeOff Interval</key>
            <value>60 min</value>
          </entry>
          <entry>
            <key>Multipart Upload Max Age Threshold</key>
            <value>7 days</value>
          </entry>
          <entry>
            <key>server-side-encryption</key>
            <value>None</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutS3Object</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#d1db1b</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
    </processors>
    <processors>
      <id>10858c4a-72a0-3342-0000-000000000000</id>
      <parentGroupId>13da4b51-cffb-3f4a-0000-000000000000</parentGroupId>
      <position>
        <x>1.9098986656849775</x>
        <y>721.3346332471001</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Attributes List</key>
            <value>
              <name>Attributes List</name>
            </value>
          </entry>
          <entry>
            <key>attributes-to-json-regex</key>
            <value>
              <name>attributes-to-json-regex</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>
              <name>Include Core Attributes</name>
            </value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>
              <name>Null Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Attributes List</key>
            <value>partners-data, partners-other, partners-partnerships, methods-used, contact-division, contact-name, contact-email, project-description, sdg-comments, sdg-goals, sdg-relevance, technology-used, data-access, data-intermediary, data-period, data-coverage, data-costs, data-quality-comments, data-quality-framework, data-quality-concerns, data-quality-evaluated</value>
          </entry>
          <entry>
            <key>attributes-to-json-regex</key>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-content</value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>AttributesToJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
    </processors>
  </snippet>
  <timestamp>11/28/2017 13:28:51 UTC</timestamp>
</template>